



.about{
    list-style-type:none;
    display:flex;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
}

.main{
    display:flex;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left:6rem;
    align-items:center;
    

}

.about1{
    margin-right: 1rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    



}

.project{
    margin-right: 1rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
    

}

.contact{
    margin-right: 1rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    
    
}

.name{
    font-size: 20px;
    color:black;
    margin-right:20px;
}

a{
    text-decoration: none;
    color:#0000008C;
}

a:hover{
    color:#000000E6;
}

.head1{
    margin-top: 5rem;
    font-size: 64px;
    color:#365B6D;
    margin-bottom: 0px;
}

.herosection{
    padding-left: 6rem;
    display:flex;
    background-color: #f7f7f7;
    height:397.36px;


}

.buttons{
    text-align: center;
}

.image{
    margin-left: 5rem;
     margin-top: 2rem;
    border-radius: 20%;
    box-shadow: 1rem 1rem #365B6D;
    transition: transform.2s;
    /* padding-bottom: 2rem; */
}

.para{
    /* width:600px; */
    color:#212529;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.button1{
    padding:10px 15px;
    border-radius: 7px;
    background-color: #365B6D;
    color:aliceblue;
    border:0px;
    font-size: 15px;
    cursor: pointer;
    
}

.button2{
    margin-left: 25px;
    padding:10px 15px;
    border-radius: 7px;
    color:rgb(0, 5, 8);
    border:1px solid #365B6D;
    font-size: 15px;

}


.button2:hover{
    color:#f8f7f7e6;
    background-color: #365B6D;
    cursor: pointer;
}

.image:hover{
    transform: scale(1.2);

}

.head2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin-left:8px;
}

.title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color:#365B6D;
}

.para1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:16px;
    /* width:1296px; */
    margin-bottom: 16px;
    color:#212529;
    padding-left:3rem;

}

.para2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:16px;
    /* width:1296px; */
    padding-left:3rem;
    margin-right: 3rem;
    margin-left: 50px;
}

.whatido{
    display:flex;
    justify-content: space-evenly;
    /* width:1296px; */
    height: 302px;
    padding: 0px 0px 16px 0px;
    margin-left:40px;
    border-radius:50rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color:#FFFFFF; 
   

}


.name2{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#365B6D;
    font-size: 22px;
}


.px-6 py-4{
    background-color: #FFFFFF;
}

.para3{
    color:#212529;
}


.projects{
    display:flex;
    justify-content: space-evenly;
    /* width:1296px; */
    height: 470.8px;
    padding: 0px 0px 16px 0px;
    margin-left:40px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color:#FFFFFF; 
}




